<!DOCTYPE html>
<html>
    <head>
        <h1> User Signup </h1>
    </head>

    <body> 
        <form action = '/' method = 'POST'>
            <!-- USERNAME INPUT -->
            <label>
                Username: 
                <input id = 'username' type = 'text' name = 'username' />
            </label>
            <br><br>
            
            <!-- PASSWORD INPUT -->
            <label>
                Password: 
                <input id = "password" type = 'password' name = 'password'/>
            </label>
            <br><br>

            <!-- VALIDATE PASSWORD -->
            <label>
                Re-enter password: 
                <input id = 'confirm' type = 'password' name = 'confirm'/>
            </label>
            <br><br>

            <!-- EMAIL INPUT -->
            <label>
                Email *(optional): 
                <input id = 'email' type = 'text' name = 'email'/>     
            </label>
            <br><br>

            <input type = 'submit'/>
        </form>    
    </body>
</html>