{% extends 'base.html' %}  

{% block content %}

    <form action = '/' method = 'POST'>
        <!-- USERNAME INPUT -->
        <label>
            Username: 
            <input name='username' type='text' value='{{username}}'/>
        </label>
        {{u_error}}
        <br><br>
        
        <!-- PASSWORD INPUT -->
        <label>
            Password: 
            <input name='password' type='password'/>
        </label>
        {{p_error}}

        <br><br>

        <!-- VALIDATE PASSWORD -->
        <label>
            Re-enter password: 
            <input name='confirm' type='password'/>
        </label>
        {{c_error}}
        <br><br>

        <!-- EMAIL INPUT -->
        <label>
            Email *(optional): 
            <input name='email' type='text' value='{{email}}'/>
        </label>
        {{e_error}}
        <br><br>

        <input type = 'submit'/>
    </form>    

{% endblock %}